<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
</head>
<body>
    <h2> <%= title %> </h2>
    <h3> Content </h3>
    <p> <%= content %>  </p>

    <a href="/edit/<%= id %>">Edit blog</a> <br><br>
    <a href="/delete/<%= id %>">Delete blog</a>
</body>
</html>